/** @file exhibit.css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

body { font-size: 14px; }

h1 { font-size: 26px; font-weight: bold; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 16px; }
h6 { font-size: 16px; }

.header {
	display: inline-block;
	border: 1px solid #000;
	background: red;
	padding: 5px 100px;
	margin: 0;
}

h1 {
	font-family: 'Playfair Display SC', serif;
}

.wall {
	position: relative;
	text-align: center;
	padding: 200px 0;
}
.wall:before{
	position: absolute;
	content:" ";
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: block;
	z-index: 0;
	background-color: rgba(255,255,255,0.85);
}

.frame {
	box-shadow: 0px 20px 20px #777;
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 1;
}

.frame img {
	max-width: 600px; 
	max-height: 400px;
	display: block;
	position: relative;
	z-index: 1;
}

.piece .plaque {
	vertical-align: bottom;
	background-color: #eee;
	display: inline-block;
	text-align: left;
	margin-left: 140px;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	position: absolute;
	position: relative;
	z-index: 1;

	cursor: pointer;

	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;

	box-shadow: 0px 10px 10px #aaa;
	width: 180px;
	height: 100px;
}

.plaque .title {
	margin: 3px;
	font-style: italic;
}
.plaque .author {
	margin: 3px;
	color: #777;
}
.plaque .conversation {
	padding: 3px;
}


#next { 
	font-size: 40px;
	position: fixed;
	bottom: 20px;
	bottom: calc(50% - 20px);
	right: 20px;
	z-index: 100;
	cursor: pointer;
	color: #aaa;
}
#next:hover {
	color: #900;
}

/* Animations/Transitions */

.stick {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;

	box-shadow: 0px 20px 20px #777 !important;
	height: 400px !important;
	width: 350px !important;
}

